@mixin banner {
  position: relative;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  @include mobile{
    height: 300px;
  }
}

.index-heroheader{
  background: url('https://storage.googleapis.com/vue-course-api.appspot.com/linachen/1626833994420.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=Av%2FYUU4I4xLHuBrBUOvLG17Koet%2FTg%2F0cfrvu3sl2gGuiJjOLNFbOIeBKo46MtJj%2Bs4iv85CvIqGvomdmYeryZ87qV0RtYzMqezTjkTKPVrFdO861te%2FPDVvOF7RphTYVFMyjXi11Z%2Bo%2FRGp5xIZLPIcZaj8mBdy4G%2FD0rh00aRvsGxT7ne7XjShsUzqgRRphzGhGETqQWcMWHkf%2F1C9LxAsN9ZCYZkOD8gl0c3EVkDyAJWztTNd1TY4G7V0qt%2FNpiPOJoM1ri%2FNStjKfGJMqoSv27BsoQHj6lIhL2YPtBfUud%2Fs1ZI62Xm4wQ9unMeufwicXrl%2BZoAZT0pHazDEZA%3D%3D') no-repeat;
  height: 100vh;
  @include banner();
  @include mobile{
    height: 500px;
  }
}

.coupon-banner{
  height: 30vh;
  background: url('https://storage.googleapis.com/vue-course-api.appspot.com/linachen/1626834033887.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=qSE76Ai0B5bCCoIfbEZLX1%2F0zQQZ%2BkdH17TlJIks1bENXTjiKEkQ0Boux5rLjRHwh5X4gMEvq1EC6sLisuifgMCLZwO%2Bl%2BaTzqEN7FVnX5qcQDeVOJZFbNMmtIH%2FVGznux3VtimF99M%2B50bXdz8UDcR%2FOkIQm6yOyjwJYEOQ4xkfbMreLKS1v4mIZylXCSuN%2FJ%2BscGf9fJuPUmZVjN8GwNB3lpngOd7E5GRluvsf5cVH2DL2FTWUfYx1ZGSTs9kt5olx1gTlTpCVfN0EFRnK%2BUNkmPTfzAQqlUfaJPba9wisRAVipIm90AQ84rF8XjTMxexKnxSur3JnCQNohVn62g%3D%3D') no-repeat;
  background-attachment: fixed;
  @include banner();
  @include mobile{
    background-position: center center;
  }
}

.about-heroheader{
  background: url('https://storage.googleapis.com/vue-course-api.appspot.com/linachen/1626833870262.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=fdkfRGWCv4FhPRQgSnx3m3jErYM10rUyNGf5HN7DE1uEY%2FkfALvufoCtK0apU1%2BbaB%2BhWpizzjgT7cwbm35BMxSYKN4B8DvSGczzydwshKK8lP6JBPhads%2FQd5FQOnvlnBFHD2YLm4XcAu%2Be22M3f%2Bdqou5slSpV%2FzFEhIhhfKOoRtWAzGIEXLgSema3gN7yiYUCS%2F9zFFgE1D%2F4PzGgrGExn8vxnKJRA0L9%2B2bHSt820pLpbaCKw772Wmz5t1T9CgkimghvRopoGTPB3wsge8YwZ7afuEen%2FCYVshTcnS4xdgMU5DQjMMVLIAZ6qNrMPzMji8P2xEWaEoADuhV3jQ%3D%3D') no-repeat;
  height: 500px;
  @include banner();
}

.callToAction{
  background: url('https://storage.googleapis.com/vue-course-api.appspot.com/linachen/1626834082729.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=jfJZiG9zzG2mtNlPvdwHag4gXU59%2Bl6zS2sMLAyGTdr1vP29IebtUDdn0QmMoJfJYz2w01Uxe8jSLHZbOXL5LUPfQHrmL%2F4IyHAax%2Fkhlp6ORK%2BEX8nHef8b3UcbyVyp9AaxxDsRmzzma%2Fmc6vvWsdu8nW74liwO5DwV8tAAESNhX59mBUaov07bK6KlBIJRewkAbtbPd%2BLoXwWCkYNWlzTLFv0jF%2Bs8Ty21QBNlTMCecztT93CZ7OANzIkukgE9ov6Sy5N%2FLDBKHZiCEP7fPpwnBhi%2Bnj6e0zKXDlhF%2FpkqhFzkLJUwU0oQyIt2rbjsyZ8EP%2Bgoo3rA%2FBsuD2cyTg%3D%3D') no-repeat;
  @include banner();
  height: 450px;
  opacity: 1;
}

.scroll-banner{
  height: 30vh;
  background: url('https://storage.googleapis.com/vue-course-api.appspot.com/linachen/1626833826312.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=VM%2BZ1Bf7d7COI5e1VNRAtoIn869gp1nTtlMrc2UphIEEq5j2pBv1HqOpdE5d79MmnzOzlq0Jxjrd4n%2FlRhGFsgkh0nYaiAJIMJsL2be6FUbLXU7YDC7izJZygDbUY1Jgzig6R4Z8uZAUW8okKGXpAeicmRKybRWEjVAyVuHXoBw8VJv1a99Yb6YuJbycsjmcLOxlWtsD4nsis0EV4y71M1ALJol0bGC%2FseW%2FVZgTBKIMp4HzXlZhyT1kABjjuI7s%2BkJe9qlxQRAOpKgia%2Bq94wm75XQr2SQqBQ1f0Cm738iYq%2BwYhO%2FNlyRn7SHUeCEpK%2BgPj62hX7zW7Wmd53yF4w%3D%3D') no-repeat;
  background-attachment: fixed;
  width: 100%;
  @include banner();
  @include mobile{
    background-position: center center;
  }
}

.products-heroheader{
  background: url('https://storage.googleapis.com/vue-course-api.appspot.com/linachen/1626833920397.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=Wg80rK5oKEHd%2BR%2FOjTqBwvYtZdd%2BM0FmD3QpQaaLNpTVa%2FQelLtkBf93WQZLZYhmuAiurfxHdYTZUV1K3EGzLf6hJflDjAZZKpjUBxPn%2BXAEw3fdTw9e5tku3KPheLwMZ%2Fpam0L7MR3L5aRSCUv90jOOWja0Z8wTutEllX04Yj7MPmB8pa52SFdSX%2BdfwEjZqeF%2FZwmGyTG4YRDH8Y7GJpLQHzIjgJI7qJavJ6jxrVE%2FZgWnBNW6FpL9cBi9ZVj9rEosADpAKdMaqcStXxyg7L%2BYNy5jgCiIx0bqMsC9dl1ewNy3%2F58WTCh3WsqsMjDM0iuaNJFRkAwRctXRZ0kUVw%3D%3D') no-repeat;
  height: 500px;
  @include banner();
}

.carts-heroheader{
  background: url('https://storage.googleapis.com/vue-course-api.appspot.com/linachen/1626834103887.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=RA%2Fi7jwyKlrWMdjh7%2F8vaJ8ItqYZdWQMqxBiUnQGWGdOfqLtVL64dzLVaH3zrzDaJcRBkf%2F5JEVd1TnWWCGlSZwmelQqZxXU0mYH45J8r7PoDhSBv5IyJhtuvW3dsuFB8xwHKJ4mO%2B5Z%2BdbelilfMXRsXIzXn%2BVcFq6MMO5tSJEmXOa2C51nepuVEBh0a0qfR%2FuEorWOTtEeTOD4GdjBVTZYGvedFYZHFl4Ah4vdhCR%2BxMTKEuLP3lU0MEgrUlyjeqadhM4J6LnD02PW7OoRjJF38cPEByNPqi6WihkYzecs4k8yQUZuJmEzYTKWltXl4ekOad%2FQ7WCFVObnCxbC8Q%3D%3D') no-repeat;
  height: 300px;
  @include banner();
}